/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  /*background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;*/
  background-size: contain;
}
body {
  /* The image used */
  background-image: url('../../../static/images/white-2398946_1920.jpg');
  margin: 0;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffffc9;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem;
}